.intro__title {
  font-size: 5em;
  margin-top: 2em;
}

.intro__slide {
  min-height: 75vh;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: 2em auto;
  max-width: 750px;

  p {
    font-size: 2.2em;
    // display: table-cell;
  }

  &.intro__slide-1,
  &.intro__slide-4 {
    min-height: 100vh;
  }
}

p.intro__introduction {
  font-size: 3.5em;
}
