.project-intro__title {
  font-size: 5em;
  margin-top: 2em;
}

.charts-intro__slide {
  h2 {
    padding-top: 30vh;
    font-size: 3.5em;
    font-weight: 400;
  }

  p {
    font-size: 2.8em;
    padding-top: 50vh;
  }
}

.charts-intro__slide:last-child {
  padding-bottom: 20vh;
}

.charts-intro__slide h2:last-of-type {
  padding-top: 75vh;
}

.intro-slide {
  p {
    font-size: 2.2em;
    padding: initial;
  }
}

.charts-intro {
  padding-bottom: 30vh;
}

.charts-intro__slide .more-detail {
  padding-top: 0;
  font-size: 1.5em;
}

.img img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: auto 1em;
}
