.line-chart__container {
  display: block;
  margin: auto;
}

.line-chart--container .step:last-child {
  padding-top: 20vh;
  min-height: 90vh;
  p {
    font-size: 1em;
  }
}

.line-chart--filters {
  label {
    display: block;
    font-size: 1.125em;
    line-height: 1.75em;
  }
  margin-left: 1em;
}
