@import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #f7f7f7;
  color: #202020;
}

section {
  padding: 1em 3em;
}

h2 {
  font-size: 3.5em;
  text-align: center;
  font-weight: 400;
  max-width: 750px;
  display: block;
  margin: auto;
}

h3 {
  font-size: 2.5em;
  margin-bottom: 0;
}

h4 {
  font-size: 2em;
  margin-bottom: 0;
}

.intro-slide,
.charts-intro__slide,
.section-re-entries__slide,
.section-re-entries__slide,
.section-tracks__slide,
.section-personalisation__slide {
  min-height: 75vh;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: 2em auto;
  max-width: 750px;
}

@import 'spotify-auth';
@import 'intro';
@import 'scroller';
@import 'swarm-chart';
@import 'track-section';
@import 'line-chart';
@import 'personalisation';
@import 'bar-chart';

.explore {
  padding-top: 20vh;
  min-height: 90vh;
  p {
    font-size: 1em;
  }
}
