.scroll {
	position: relative;
}

.scroll__graphic {
	position: -webkit-sticky;
	position: sticky;
	float: right;
	top: 10%;
	right: 2rem;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	background-color: #ddd;
	border: 1px solid #000;
  overflow: hidden;
  width: 70%;
  min-height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.scroll__text {
	position: relative;
	padding: 0;
	width: 25%;
}

.step {
	margin: 0 auto 2rem auto;
	border: 1px solid #e8e8e8;
  min-height: 70vh;
}

.step:first-of-type p {
  margin-top: 50vh;
  margin-bottom: 20vh;
}

.step:last-child {
	border-bottom: 1px solid #333;
}

// .step.is-active {
// 	background-color: lightgoldenrodyellow;
// }

.step p {
  text-align: left;
	padding: 1rem;
	font-size: 1.5rem;
  padding-left: 0;
}
