#swarm-chart {
  margin:  5em auto 3em;
  display: block;
}

// .axis path,
// .axis line {
//   fill: none;
//   stroke: #000;
//   shape-rendering: crispEdges;
// }

.cells path {
  fill: none;
  pointer-events: all;
}

// .cells :hover circle {
//   border: grey 1px solid;
// }
