.section-re-entries__slide,
.section-tracks__intro {
  min-height: 70vh;
  text-align: center;

  p {
    font-size: 2em;
    padding-top: 1em;
  }

  h2 {
    padding-top: 25vh;
  }
}

.section-tracks__slide,
.section-re-entries__slide {
  min-height: 0;
  margin: 5em auto;

  p {
    font-size: 1.5em;
    padding-top: 1em;
    text-align: justify;
    max-width: 650px;
    display: block;
    margin: auto;
  }
}

.playable-track {
  text-decoration: underline;
  cursor: pointer;
  padding-right: 1.25em;
  background: url("./assets/img/sound_on.svg") no-repeat center right;
  background-size: 1em 1em;

  // &:after {
  //   content: "";
  //   display: inline-block;
  //   background: url("./assets/img/sound_on.svg") no-repeat top right;
  //   width: 0.75em;
  //   height: 0.75em;
  //   padding-left: 0.25em;
  // }
}

// tooltip adapted from https://www.w3schools.com/css/css_tooltip.asp

.tooltip {
    position: relative;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: dotted;

    &:hover {
      cursor: help;
    }
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(0,0,0,0.85);
    color: #fff;
    text-align: center;
    border-radius: 0.5em;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 15%;
    width: 400px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15%;
    margin-left: -0.5em;
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent transparent rgba(0,0,0,0.85) transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
