@import url("https://fonts.googleapis.com/css?family=Open+Sans|Quicksand");
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 0; }

section {
  padding: 1em 3em; }

.section-1 {
  background-color: #e8e8e8; }

/* Reset `button` and button-style `input` default styles */
button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

.spotify-auth {
  text-align: center;
  font-size: 18px;
  max-width: 750px;
  display: block;
  margin: 10vh auto 0; }
  .spotify-auth h1 {
    font-size: 2.5em; }
  .spotify-auth h2 {
    font-size: 3em;
    color: #1ed760;
    padding: initial; }
  .spotify-auth p {
    padding: initial;
    font-size: 1.25em; }

.btn {
  text-decoration: none;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  padding: 0.5em 1em;
  color: #fff;
  font-weight: bold;
  position: relative;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  background-color: #1ed760;
  margin: 1em; }

.btn:hover {
  background-color: #12913f;
  cursor: pointer; }

.intro-slide,
.text-slide,
.section-re-entries__slide,
.section-tracks__slide {
  min-height: 75vh;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: 2em auto;
  max-width: 750px; }

p, h2 {
  padding-top: 50vh;
  font-size: 3.5em; }

.project-intro__title {
  font-size: 5em;
  margin-top: 2em; }

.intro-slide p {
  font-size: 2.2em;
  padding: initial; }

.charts-intro {
  background-color: #e8e8e8;
  padding-bottom: 30vh; }

.scroll {
  position: relative; }

.scroll__graphic {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 10%;
  right: 2rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #ddd;
  border: 1px solid #000;
  overflow: hidden;
  width: 70%;
  min-height: 70vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.scroll__text {
  position: relative;
  padding: 0;
  width: 25%; }

.step {
  margin: 0 auto 2rem auto;
  min-height: 70vh; }

.step:first-of-type p {
  margin-top: 50vh;
  margin-bottom: 20vh; }

.step:last-child {
  border-bottom: 1px solid #333; }

.step p {
  text-align: left;
  padding: 1rem;
  font-size: 1.5rem;
  padding-left: 0; }

#swarm-chart {
  margin: 5em auto 3em;
  display: block; }

.cells path {
  fill: none;
  pointer-events: all; }

.section-re-entries__slide,
.section-tracks__intro {
  min-height: 70vh;
  text-align: center; }
  .section-re-entries__slide p,
  .section-tracks__intro p {
    font-size: 2em;
    padding-top: 1em; }
  .section-re-entries__slide h2,
  .section-tracks__intro h2 {
    padding-top: 25vh; }

.section-tracks__slide p {
  font-size: 1.5em;
  padding-top: 1em;
  text-align: left;
  max-width: 650px;
  display: block;
  margin: auto; }

.playable-track {
  text-decoration: underline;
  cursor: pointer;
  padding-right: 1.25em;
  background: url("./assets/img/sound_on.svg") no-repeat center right;
  background-size: 1em 1em; }
