@import url("https://fonts.googleapis.com/css?family=Open+Sans|Quicksand");
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  margin: 0; }

section {
  padding: 1em 2em; }

.project-intro__title {
  font-size: 5em;
  margin-top: 2em; }

.intro-slide {
  min-height: 75vh;
  text-align: center;
  vertical-align: middle;
  display: block;
  margin: 2em auto;
  max-width: 750px; }
  .intro-slide p {
    font-size: 2.2em; }

.charts-intro {
  background-color: #e8e8e8;
  padding-bottom: 50vh; }

.charts-intro__slide p {
  padding-top: 50vh;
  font-size: 3.5em; }

.scroll {
  position: relative;
  border-top: 2px dashed #000;
  border-bottom: 2px dashed #000; }

.scroll__graphic {
  position: -webkit-sticky;
  position: sticky;
  float: right;
  top: 10%;
  right: 2rem;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-color: #ddd;
  border: 1px solid #000;
  overflow: hidden;
  width: 63%;
  min-height: 60vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.scroll__text {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
  width: 33%; }

.step {
  margin: 0 auto 2rem auto;
  border: 1px solid #333;
  min-height: 80vh; }

.step:last-child {
  border-bottom: 1px solid #333; }

.step.is-active {
  background-color: lightgoldenrodyellow; }

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem; }

#swarm-chart {
  display: block;
  margin: auto; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.axis text {
  font: 10px sans-serif; }

.cells path {
  fill: none;
  pointer-events: all; }

.cells :hover circle {
  fill: red; }
